*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: font-family: 'Archivo', sans-serif;;
}
header{
    position: fixed;
    width: 100%;
}
nav{
    overflow: auto;
    background: #12425E;
    height: 80px;
}
ul{
    padding-left: 150px;
    list-style: none;
}
li{
    float: right;
    margin-top: 10px;
}
.logoimg{
    position: absolute;
    margin: 0 0 50px 12px;
}
nav a{
    display: block;
    width: 150px;
    padding: 20px 15px;
    color: #ECE5CF;
    text-align: center;
    /* font-family: ; */
    text-decoration: none;
}
nav a:hover{
    background-color: #1a628b;
    color: #ECE5CF;
    transition: 0.2s;
    text-decoration: underline; 
}
/* end of nav */


/* footer */
footer {
    width: 100%;
    display: inline-block;
    background: #ccc;
    height: 150px;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
  }
  
  .footercontainer {
    background-color: #12425E;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px 'Archivo', sans-serif;
    padding: 45px 50px;
  }
  
  .footercontainer .left p {
    color: #1a628b;
    font-size: 14px;
    margin: 0;
  }
  /* Footer links */
  
  .footercontainer p.links {
    font-size: 18px;
    font-weight: bold;
    color: #ECE5CF;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
  }
  
  .footercontainer .links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
  }
    /* makes line btwn  links*/
  .footercontainer .links a:before {
    content: "|";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding: 0 20px;
  }
  
  .footercontainer .links .link-1:before {
    content: none;
  }
  
  .footercontainer .right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
  }
  
  .footercontainer .right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #12425E;
    border-radius: 2px;
    font-size: 20px;
    color: #ECE5CF;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
  }
  .footercontainer .right a:hover{transform:scale(1.1);}
  .footercontainer .links a:hover{text-decoration:underline;}
/* end */